*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,ol,li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    font-family: Poppins;
    background-color: #2B2B2B;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0px 15px;
    overflow: hidden;
}

[class*="__body-container"] {
    max-width: 1095px;
    margin: 0 auto;
    padding: 0px 15px;
    overflow: hidden;
}

.header {
    background-color: #2B2B2B;
}
.header__body {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}
.header__btn {
    display: inline-flex;
}

.header__btn a {
    margin: 0px 0px 0px 30px;
}

.header__btn a:first-child {
    margin-left: 0;
}
.header__default-btn {
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
}

.header__default-btn:hover {
    color: #A490E6;
    transition: 0.5s ease-out;
}

.purple__btn {
    background-color: #A490E5;
    border-radius: 15px;
    display: flex;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    padding: 0px 61px;
    color: #000;
}

.purple__btn:hover {
    color: #000;
    opacity: 0.7;
    transition: 0.3s ease-out;
}
@media (max-width:441px) {
    .header__btn {
        display: none;
    }
}

.main {
    flex: 1 1 auto;
}
.main__page {
    padding: 77px 0px;
}
.main__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main__info {
}
.main__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 150%;
    margin: 0px 0px 40px 0px;
}
.main__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    opacity: 0.4;
    margin: 0px 0px 72px 0px;
    padding: 0px 119px 0px 0px;
}
.main__btn {
    background: #F8D57E;
    border-radius: 15px;
    min-height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 37px;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    color: #333333;
}

.main__btn:hover {
    opacity: 0.7;
    transition: 0.3s ease-out;
}
.main__img {
    background-color: #333333;
    border-radius: 15px;
}

.main__img img{
    max-width: 500px;
}

@media (max-width:992px) {
    .main__title {
        font-size: 36px;
    }
    .main__text {
        font-size: 14px;
        padding: 0;
    }
}

@media (max-width:768px) {
    .main__body {
        flex-direction: column;
    }

    .main__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 0px 31px 0px;
        text-align: center;
    }

    .main__page {
        padding: 50px 0px;
    }
    .main__title {
        margin: 0px 0px 20px 0px;
    }
    .main__text {
        margin: 0px 0px 31px 0px;
    }
    .main__img img{
        max-width: 100%;
        min-height: 100%;
    }
    .companies__image {
        padding: 33px 37px !important;
    }
}

.companies__line {
    min-height: 1px;
    background: #FFFFFF;
    opacity: 0.2;
}
.companies__image {
    padding: 67px 74px;
}
.companies__image img {
    max-width: 931px;
}

@media (max-width:1092px) {
    .companies__image img {
        max-width: 100%;
        min-height: 100%;
    }
}

.statistics__block {
    padding: 100px 0px;
}
.statistics__image {
    background-color: #FDF5DF;
    border-radius: 15px;
}


@media (max-width:1092px) {
    .statistics__block {
        padding: 35px 0px;
    }

    .statistics__image img{
        max-width: 100%;
        min-height: 100%;
    }
}

.facilities__block {
    padding: 50px 0px;
}
.facilities__body {
    display: flex;
    align-items: flex-start;
}
.facilities__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 33.333%;
    margin: 0px 50px 0px 0px;
}

.facilities__item:last-child {
    margin-right: 0;
}

.item__image {
    max-width: 70px;
    margin: 0px 0px 32px 0px;
}
.item__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 177%;
    color: #FFFFFF;
    margin: 0px 0px 10px 0px;
}
.item__text {
    padding: 0px 25px 0px 31px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    opacity: 0.4;
}

@media (max-width:768px) {
    .facilities__block {
        padding: 15px 0px;
    }
    .facilities__body {
        flex-direction: column;
        align-items: center;
    }
    .facilities__item {
        margin: 15px 0px;
    }

    .item__text {
        padding: 0px 15px;
    }
}

.testimonials__block {
    margin: 30px 0px;
}
.testimonials__body {
    background-color: #BFAFF2;
    border-radius: 20px;
    padding: 83px 162px;
}

.testimonials__text {
    font-weight: 600;
    font-size: 24px;    
    line-height: 166%;
    color: #2B2B2B;
    margin: 0px 0px 50px 0px;
}
.testimonials__user {
    display: flex;
}
.user__image {
    max-width: 80px;
}
.user__name {
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    color: #2B2B2B;
    opacity: 0.4;
    margin: 0px 0px 5px 0px;
}
.user__star img {
    margin: 0px 5px 0px 0px;
}

.user__star img:last-child {
    margin-right: 0;
}

.user__grade {
    margin: 15px 0px 0px 20px;
}
@media (max-width:768px) {
    .testimonials__body {
        padding: 80px 55px;
    }
}
@media (max-width:425px) {
    .testimonials__text {
        text-align: center;
        margin: 0px 0px 30px 0px;
    }
    .testimonials__body {
        padding: 80px 30px;
    }
}

.questions__block {
    padding: 100px 0px;
}
.questions__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.questions__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 150%;
    margin: 0px 0px 40px 0px;
}
.questions__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    opacity: 0.4;
    margin: 0px 0px 40px 0px;
    padding: 0px 119px 0px 0px;
}
.questions__btn {
    background: #F8D57E;
    border-radius: 15px;
    min-height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 37px;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    color: #333333;
}
.questions__btn:hover {
    opacity: 0.7;
    transition: 0.3s ease-out;
}
.questions__img {
    background-color: #333333;
    border-radius: 15px;
}

.questions__img img{
    max-width: 500px;
}

@media (max-width:992px) {
    .questions__title {
        font-size: 36px;
    }
    .questions__text {
        font-size: 14px;
        padding: 0;
    }
}

@media (max-width:768px) {
    .questions__body {
        flex-direction: column;
    }

    .questions__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 0px 31px 0px;
        text-align: center;
    }

    .questions__block {
        padding: 50px 0px;
    }
    .questions__title {
        margin: 0px 0px 20px 0px;
    }
    .questions__text {
        margin: 0px 0px 31px 0px;
    }
    .questions__img img{
        max-width: 100%;
        min-height: 100%;
    }
}


.footer {
}
.footer__line {
    min-height: 1px;
    background: #FFFFFF;
    opacity: 0.2;
}
.footer__body {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__main {
}
.footer__logo {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    margin: 0px 0px 44px 0px;
}
.footer__info {
}
.menu {
    display: flex;
}
.menu__item {
    font-weight: 600;
    font-size: 18px;
    line-height: 177%;
    margin: 0px 30px 0px 0px;
}
.menu__item:last-child {
    margin-right: 0;
}

.menu__item a {
    color: #FFFFFF;
}

.menu__item a:hover {
    color: #A490E6;
    transition: 0.5s ease-out;
}

.footer__send {
}
.footer__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    margin: 0px 0px 15px 0px;
}
.footer__form {
}

.form__email {
    background: #333333;
    border-radius: 15px;
    padding: 9px 0px 9px 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    margin: 0px 25px 0px 0px;
}

.form__btn {
    background: #A490E6;
    border-radius: 15px;
    padding: 9px 69px;
    font-weight: 400;
    font-size: 18px;    
    line-height: 177%;
    cursor: pointer;
}

.form__btn:hover {
    opacity: 0.7;
    transition: 0.3s ease-out;
}

@media (max-width:1092px) {
    .footer__body {
        flex-wrap: wrap;
    }

    .footer__info {
        margin: 20px 0px;
    }
}

@media (max-width:625px) {
    .menu {
        flex-wrap: wrap;
    }
}

@media (max-width:425px) {
    .footer__logo {
        margin: 0px 0px 22px 0px;
    }

    .form__email {
        margin: 0px 0px 15px 0px;
    }
}